@import "tailwindcss";

/* main dark green color #527b50 */
/* medium green color #D6DE75 */
/* light green color #e3e8e2 */
/* black  #1E2429 */
/* title-> stone-800 */
/* text-> stone-600 */
/* light background-> #f6f6f6 */



/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
